<%- include('commonHtml/header') %>
<title>Landing page</title>    
<link rel="stylesheet" href="stylesheets/index.css">
  </head>
  <body>
    <%- include('commonHtml/NavBar') %>
    <!-- image and matter -->

<div class="container row ">
  <div class="col-lg-6">
    <img src="images/complaints-management-food-beverage.png" alt="titleimg" class="rounded float-left img-fluid max-width: 100% width: 100% \9 mainimg ">
  </div>
    <div class="col-lg-6 mainTex">
      <h1>Complain Management System</h1>      
        <h4 class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates tempora nostrum unde quasi sunt veritatis optio? Quod, neque. Blanditiis, veritatis?</h4> 
        <div class="button "> 
          <button type="button" class="btn btn-dark btn-lg download-button"> Login</button>
          <!-- <button type="button" class="btn btn-outline-white btn-lg download-button"> Download</button> -->
        </div>
    </div> 
  </div>
<%- include('commonHtml/footer') %>

