.btn{
    margin: 4px;
  }
  
  .button >.btn-lg{
    font-size: 2.5rem;
  }

  
.navbar-brand{
    text-align: center;
    font-size: 2rem;
  
  }
.card-title{
    font-size: 4rem;
    text-align: center;
}

.main{
    width: 100vw;
    height: 100vh;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    text-align: center;
    align-items: center;
}


/* .card
{
    border: rgb(34, 30, 30);
    background:whitesmoke;
    border-radius: 5px;
    border-style: double;
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
/* 
.card:hover{


    box-shadow: 0px 19px 14px -7px #0000;
    box-shadow: 0px -19px 14px 7px #0000;
    box-shadow: 0px 19px -14px -7px #0000;
    box-shadow: -0px 19px 14px 7px #000000;
    
} */
/* 
input{
    width: 30vw;
    height: 3.5rem;
    padding: 1.5rem;
    margin: 0.5rem;
    box-shadow: 0px 19px 14px -7px #6c868a;
	background:linear-gradient(to bottom, #f9fbfc 5%, #c5d9db 100%);
    background-color:#f9fbfc;
    border-radius:15px ;

}
input:hover{
    background:linear-gradient(to bottom, #c5d9db 5%, #f9fbfc 100%);
	background-color:#c5d9db;
}

.myButton {
	box-shadow: 0px 19px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #54b3bf 100%);
	background-color:#599bb3;
	border-radius:28px;
	border:1px solid #4e9ed4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:16px 32px;
	text-decoration:none;
	text-shadow:0px 1px 17px #202ae6;
}
.myButton:hover {
	background:linear-gradient(to bottom, #54b3bf 5%, #599bb3 100%);
	background-color:#54b3bf;
}
.myButton:active {
	position:relative;
	top:1px;
} */
